<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.min.js"></script>
  <script src="https://unpkg.com/ml5@0.6.0/dist/ml5.min.js"></script>
  <meta charset="utf-8" />
</head>
<style>
    body{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    button{
        padding: 8px 20px;
        font-size: 1.2em;
        background: transparent;
        border: 2px solid rgb(53, 156, 252);
        border-radius: 12px;
    }
    canvas{
        border: 2px solid black;
    }
</style>
<body>
  <script src="js/textdoodle.js"></script>
</body>

</html>